<table>
	<thead>
	<th>Name</th>
	<th>Type</th>
    <th>Option Source</th>
	<th>Source List</th>
    <th>Status</th>
    <th>Tenant</th>
	</thead>
	<tbody>
		{{#each main}}
			<tr>
				<td>{{dataMap.name}}</td>
				<td>{{dataMap.type}}</td>
                <td>{{dataMap.optionSource}}</td>
				<td>{{dataMap.sourceOptionList}}</td>
                <td>{{dataMap.status}}</td>
                <td>{{dataMap.tenant}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

