<table>
	<thead>
	<th>Name</th>
	<th>Type</th>
    <th>Source Method</th>
	<th>Initial Dataset</th>
    <th>TranslationScript</th>
	<th>requestScript</th>
    <th>Tenant</th>
	</thead>
	<tbody>
		{{#each main}}
			<tr>
				<td>{{dataMap.name}}</td>
				<td>{{dataMap.type}}</td>
                <td>{{dataMap.sourceMethod}}</td>
				<td>{{dataMap.initialDataset}}</td>
                <td>{{dataMap.translationScript}}</td>
				<td>{{dataMap.requestScript}}</td>
                <td>{{dataMap.tenant}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

