<table>
	<thead>
	<th>Tenant</th>
	<th>Instances</th>
    <th>Policies</th>
	<th>Tasks</th>
    <th>Workflows</th>
	<th>Groups</th>
    <th>Clouds</th>
	<th>Apps</th>
	<th>Cypher</th>
	<th>Input Count</th>
	<th>Opt List Count</th>
	<th>IntegrationCount</th>
	</thead>
	<tbody>
		{{#each main}}
			<tr>
				<td>{{dataMap.tenant}}</td>
				<td>{{dataMap.instanceCount}}</td>
                <td>{{dataMap.policyCount}}</td>
				<td>{{dataMap.taskCount}}</td>
                <td>{{dataMap.workflowCount}}</td>
				<td>{{dataMap.groupCount}}</td>
                <td>{{dataMap.cloudCount}}</td>
				<td>{{dataMap.appCount}}</td>
				<td>{{dataMap.cypherCount}}</td>
				<td>{{dataMap.optionCount}}</td>
				<td>{{dataMap.optionListCount}}</td>
				<td>{{dataMap.integrationCount}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

