<table>
	<thead>
	<th>UserName</th>
	<th>Month</th>
    <th>Total</th>
	</thead>
	<tbody>
		{{#each main}}
			<tr>
				<td>{{dataMap.username}}</td>
				<td>{{dataMap.month}}</td>
                <td>{{dataMap.total}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

