<table>
	<thead>
	<th>Name</th>
	<th>Type</th>
    <th>Created</th>
	<th>Last Updated</th>
    <th>Last Sync</th>
	<th>LastSyncDuration</th>
    <th>Tenant</th>
	</thead>
	<tbody>
		{{#each main}}
			<tr>
				<td>{{dataMap.name}}</td>
				<td>{{dataMap.type}}</td>
                <td>{{dataMap.dateCreated}}</td>
				<td>{{dataMap.lastUpdated}}</td>
                <td>{{dataMap.lastSync}}</td>
				<td>{{dataMap.lastSyncDuration}}</td>
                <td>{{dataMap.tenant}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

