<table>
	<thead>
	<th>First Name</th>
	<th>Last Name</th>
    <th>Username</th>
	<th>Login Count</th>
    <th>Created </th>
	<th>Last Login</th>
	</thead>
	<tbody>
		{{#each main}}
			<tr>
				<td>{{dataMap.firstname}}</td>
                <td>{{dataMap.lastname}}</td>
				<td>{{dataMap.username}}</td>
                <td>{{dataMap.loginCount}}</td>
				<td>{{dataMap.dateCreated}}</td>
                <td>{{dataMap.lastLoginDate}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

