<table>
	<thead>
	<th>uniqueCloudTypes</th>
	<th>cloudCount</th>
	<th>uniqueCloudType</th>
	</thead>
	<tbody>
		{{#each main}}
			<tr>
				<td>{{dataMap.uniqueCloudTypes}}</td>
				<td>{{dataMap.cloudCount}}</td>
				<td>{{dataMap.uniqueCloudType}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>


