<script nonce="{{webnonce}}"  src="{{asset "/logicHelper.js"}}" ></script>
    <script nonce="{{webnonce}}" type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script nonce="{{webnonce}}" type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        var inputData = '{{ reportdata.header.0.dataMap.topFiveTasksJson }}'
		data = inputData.replace(/&quot;/g, '"')
		console.log(data)
		var taskData = JSON.parse(data)
		var myJSONString = JSON.stringify(taskData);
		console.log(taskData)
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          [taskData[0]['name'], taskData[0]['value']],
          [taskData[1]['name'], taskData[1]['value']],
          [taskData[2]['name'], taskData[2]['value']],
          [taskData[3]['name'], taskData[3]['value']],
          [taskData[4]['name'], taskData[4]['value']],
		  [taskData[5]['name'], taskData[5]['value']], 
        ]);

        // Set chart options
        var options = {'legend': 'none',
		               'width':500,
                       'height':400
		};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
<div class="analytics-data-view">
	<div class="row break-container auto-google-chart">
		<div class="col-sm-6">
			<div class="buffer-container">
				<div id="chart_div"></div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="chart-legend chart-legend-header-space">
				<table class="chart-legent-table">
					<thead>
					</thead>
					<tbody>	
						{{#each reportdata.header.0.dataMap.topFiveTasks}}
							<tr>
								<td class="legend-cell">
									<div style="background-color:{{color}};"></div>
								</td>
								<td>{{name}}</td>
								<td>{{value}}</td>
							</tr>
						{{/each}}						
					</tbody>
				</table>
				
			</div>
		</div>
		
	</div>
	<div class="break-container intro-stats">
		<div class="count-stats">
			<div class="stats-container">
				<span class="big-stat">
					{{ reportdata.header.0.dataMap.totalTasks }}
				</span>
				<div class="stat-label">Tasks</div>
			</div>
			</div>
		</div>
		<div class="break-container">
			<h4>Automation Tasks Breakdown</h4>
<div>
<div class="server-groups-data"><div class="server-groups-list remote-list list-container" id="server-groups-list " data-offset="0" data-max="25" data-sort="name" data-order="asc">
		<table class="table server-groups-table remote-table striped advanced-table" data-columns="servergroup-status,servergroup-type,servergroup-name,servergroup-layout,servergroup-workers,servergroup-compute,servergroup-memory,servergroup-storage" data-filters="">
			<thead>
			<tr>	
			<th class="" data-column-name="servergroup-type" data-column-sort="" draggable="true">
				Type
				<span class="row-actions pull-right" data-no-turbolink="">
						<span class="drag glyphicon glyphicon-th-large"></span>
				</span>
			</th>
			<th class=" sort-column" data-column-name="servergroup-name" data-column-sort="name" draggable="true">
				Name
				<span class="row-actions pull-right" data-no-turbolink="">
						<span class="drag glyphicon glyphicon-chevron-down sort-icon sort-level-0"></span>
				</span>
			</th>
			<th class="" data-column-name="servergroup-memory" data-column-sort="" draggable="true">
				Count
				<span class="row-actions pull-right" data-no-turbolink="">			
						<span class="drag glyphicon glyphicon-th-large"></span>
				</span>
			</th>
			</tr>
			</thead>
			<tbody>
		{{#each reportdata.header.0.dataMap.cloudTable}}
			<tr class="list-item">
			    <td class="icon"><img src="{{imagesrc}}"  class="cloud-type-thumb-sm" title="PowerShell Script" data-hidpi-src="{{imagesrc}}" data-lowdpi-src="{{imagesrc}}"></td>
				<td>{{name}}</td>
				<td>{{count}}</td>
			</tr>
		{{/each}}			
			</tbody>
		</table>
</div>
</div>
<!-- delete modal -->
</div>
		</div>
	
</div>
<style>
.break-container {
	margin-bottom: 0px;
}
.big-stat {

}
</style>